:root {
    --nutmeg: hsl(14, 45%, 36%); /* h2 */
    --dark-raspberry: hsl(332, 51%, 32%); 

    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --brown: hsl(30, 10%, 34%);
    --charcoal: hsl(24, 5%, 18%);

    --fs-para: 1rem;

    --ff-young: 'Young Serif', serif;
    --fw-young-regular: 400;

    --ff-outfit: 'Outfit', sans-serif;
    --fw-outfit-regular: 400;
    --fw-outfit-semiBold: 600;
    --fw-outfit-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    font: inherit;
    margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

/*
  5. Improve media defaults
*/
img, svg {
    display: block;
    max-width: 100%;
}

p,
h1 {
    overflow-wrap: break-word;
}

body {
    font-family: var(--ff-outfit);
    color: var(--brown);
    background-color: var(--eggshell);
}

@media(min-width: 600px) {
  body {
    height: 100%;
    display: grid;
    place-items: center;
  }
}

.container {
  background-color: var(--white);
}

@media(min-width: 600px) {
  .container {
    max-width: 700px;
    margin: 5rem 0;
    border-radius: 1.3rem;
    overflow: hidden;
  }

  .img {
    padding: 2rem 2rem 0 2rem;
  }

  .plating-img {
    border-radius: 0.8rem;
  }
}

.same-padd {
  padding: 2rem;
  padding-bottom: 1.5rem;
}

hr {
  margin: 0 2rem 0;
  border: none;
  height: 1px;
  /* Set the hr color */
  background-color: var(--light-grey);  /* Modern Browsers */
}

h1 {
  color: var(--charcoal);
  font-family: var(--ff-young);
  font-size: 2.2rem;
  font-weight: var(--fw-young-regular);
  line-height: 1;
  margin-bottom: 1.5rem;
}

.time {
  background-color: var(--rose-white);
  border-radius: 0.6rem;
  margin: 2rem 0;
  padding: 1.2rem 1.5rem ;
}

h3 {
  font-weight: var(--fw-outfit-bold);
  color: var(--dark-raspberry);
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}
 ul {
  padding: 0 1.5rem ;
 }

 li {
  margin-bottom: 0.5rem;
  padding-inline: 1rem;
 }

 li::marker {
  color: var(--dark-raspberry);
 }

span {
  color: var(--brown);
  font-weight: var(--fw-outfit-bold);
 }

 .title {
  font-family: var(--ff-young);
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: var(--nutmeg);
 }

 ol {
  padding: 0 1.5rem ;
 }

 ol > li::marker {
  font-weight: var(--fw-outfit-bold);
  color: var(--nutmeg);
 }

 .nutrition-section hr {
  margin: 0;
 }

 .nutrition-section .info {
  margin-bottom: 1.5rem;
 }

 .flex-group {
  display: flex;
  margin: 0.6rem 0;
  font-size: 0.9rem;
  justify-content: space-between;
 }

 .flex-group p {
  margin-left: 2rem;
 }

 .flex-group span {
  color: var(--nutmeg);
  font-weight: var(--fw-outfit-bold);
  margin-right: 5rem;
 }

.attribution { font-size: 1rem; text-align: center; color: var(--brown);}
.attribution a { color: var(--dark-raspberry); }